

article{
  img{
    width: 100%;
  }

  &.info,
  &.work{

  }
  &.info{
    overflow: hidden;
    position: relative;

    .wrapper{
      position: absolute;
      bottom: 100%;
      transition: all .35s ease 0s;
      width: 100%;
      height: 100%;
      padding: $column-gutter/2;
    }

    &.hover{
      .wrapper{
        bottom:0;
      }
    }


    &.ervaring,
    &.filosofie,
    &.garantie{
      .wrapper{
        background: #43b1e1;
      }
      h2{
        color: #035b83;
      }
    }

    &.wordpress,
    &.drupal,
    &.hubspot{
      .wrapper{
        background: $bluer;
      }
      h2{
        color: #43b1e1;
      }
    }



    .title{
      h2{
        margin-top:0;
      }
    }
    .body{
      ul,li,
      p{
        color: $white;
        font-size: rem-calc(12);
        margin-bottom:0;
      }
    }
  }
  &.work{
    overflow: hidden;
    position: relative;
    .image{
      img{
        transition: all .35s ease 0s;
      }
    }
    .caption{
      position: absolute;
      bottom: 100%;
      transition: all .35s ease 0s;
      width: 100%;
      height: 100%;
      padding: 10px;
      .caption-wrapper{
        position: absolute;
        bottom:$column-gutter/2;
      }
      h2,
      .subtitle{
        color: $white;
        font-family: $ff-poppins;
        font-weight: normal;
      }
      h2{
        margin-bottom:0;
        line-height: 1;
      }
      a{
        font-size: rem-calc(14);
        color: $blue;
        i{
          margin-right: rem-calc(5);
        }
      }
    }
    &.hover{
      .image{
        img{
          transform: scale(1.1);
        }
      }
      .caption{
        bottom: 0;
        background: rgba(0,0,0,.75);
      }
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 540px){
  article.info .body ul, article.info .body li, article.info .body p{
    font-size: rem-calc(14);
  }
}
@media screen and (min-width: 540px) and (max-width: 640px){
  article.info .body ul, article.info .body li, article.info .body p{
    font-size: rem-calc(16);
  }
}


@media screen and (min-width: 760px) and (max-width: 820px){
  article.info .body ul, article.info .body li, article.info .body p{
    font-size: rem-calc(14);
  }
}
@media screen and (min-width: 820px) and (max-width: 1020px){
  article.info .body ul, article.info .body li, article.info .body p{
    font-size: rem-calc(16);
  }
}

@media screen and (min-width: 1500px) and (max-width: 1750px){
  article.info .body ul, article.info .body li, article.info .body p{
    font-size: rem-calc(14);
  }
}
@media screen and (min-width: 1750px){
  article.info .body ul, article.info .body li, article.info .body p{
    font-size: rem-calc(16);
  }
}