footer{
  .contact,
  .copyright{
    display: inline-block;
    width: 100%;
  }
  .wrapper{
    padding: $column-gutter/2;
    padding-top: rem-calc(80);
    display: inline-block;
    width: 100%;
  }
  .contact{
    background: #515151;
    h2{
      text-transform: uppercase;
      color: $white;
      width: rem-calc(180);
      float:left;
    }
    .social{
      margin-left:0;
      margin-bottom: rem-calc(8);
      width: auto;
      float:right;
      list-style:none;
      li{
        float:left;
        color: $white;
        margin-right: $column-gutter*1.5;
        a{
          color: #a5a5a5;
          font-size: rem-calc(22);
          transition: all .35s ease 0s;
          &:hover{
            color: $white;
          }
        }
        &:last-child{
          margin-right:0;
        }
      }
    }
    .address{
      list-style:none;
      float:left;
      clear:left;
      margin-left:0;
      li{
        color: $white;
        margin-bottom: rem-calc(8);
        a{
          color: #96d5ee;
          transition: all .35s ease 0s;
          &:hover{
            color: $blue;
          }
        }
      }
    }
  }
  .copyright{
    background: #222222;
    color: $white;
    text-align: center;
    i,
    a,
    .copy{
      width: 100%;
    }
    i{
      margin-top: $column-gutter*2;
    }
    .copy{
      color: #a5a5a5;
      font-size: rem-calc(12);
      margin-bottom: $column-gutter*5;
      a{
        color: #a5a5a5;
      }
    }
    .totop{
      font-size: rem-calc(14);
      text-transform: uppercase;
      letter-spacing: rem-calc(3);
      color: $white;
      font-weight: bold;
      margin-bottom: $column-gutter;
      display: inline-block;
    }
  }
}



@media #{$medium-up}{
  footer{
    .wrapper{
      width: 50%;
      margin-left: 25%;
    }
    .contact{
      .social{
        float:left;
      }
      .address{
        float: left;
        clear: none;
        //margin-left: rem-calc(180);
      }
    }
  }
}


@media #{$large-up}{

}